#actordentify-card {
    grid-column: span 1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35), 0px 0px 20px rgba(0, 0, 0, 0.35);
}

.dark #actordentify-card {
    box-shadow: none;
}

/* foreground hover element */
#actordentify-card::after {
    background: radial-gradient(
        circle 800px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.05), 
        transparent 40%
    );
    z-index: 20;
    pointer-events: none;
}

#actordentify-card-video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

#actordentify-card-video-bkg {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

#actordentify-card .frosted-pane {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(80px);
}

.dark #actordentify-card .frosted-pane {
    width: calc(100% - 2px);
    left: 1px;
    top: auto;
    bottom: 1px;
    border-radius: 0 0 29px 29px;
}

#actordentify-card .nav-link p { 
    color: var(--darkNavLink); 
}

#actordentify-card .frosted-pane h3 {
    color: var(--darkText);
    padding-top: 18px;
}

#actordentify-card .frosted-pane .paragraph-small {
    color: var(--darkBodyText);
    display: none;
}

#actordentify-card .frosted-pane p {
    margin-top: 4px;
}

@media (hover: hover) {

    #actordentify-card:hover {
        /* do not scale actordentify card on hover */
        scale: 1;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.35), 0px 0px 32px rgba(0, 0, 0, 0.35);
    }

    .dark #actordentify-card:hover {
        scale: 1;
        box-shadow: none;
    }
    
}


/* iPad 13" Portrait */
@media (max-width: 1008px) {
    
    #actordentify-card .frosted-pane {
        height: 130px;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    #actordentify-card .frosted-pane {
        height: 155px;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    #actordentify-card .frosted-pane {
        height: 166px;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    #actordentify-card .frosted-pane {
        height: 100px;
    }

}
