#actordentify-card {
    grid-column: span 2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35), 0px 0px 20px rgba(0, 0, 0, 0.35);
}

.dark #actordentify-card {
    box-shadow: none;
}

/* foreground hover element */
#actordentify-card::after {
    background: radial-gradient(
        circle 800px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.05), 
        transparent 40%
    );
    z-index: 20;
    pointer-events: none;
}

#actordentify-card-video {
    height: 100%;
    position: absolute;
    right: 0;
}

#actordentify-card-video-bkg {
    height: 100%;
    position: absolute;
    left: 0;
}

.frosted-pane {
    position: absolute;
    height: 100%;
    width: 380px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(115px);
}

.dark .frosted-pane {
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    border-radius: 29px 0 0 29px;
}

#actordentify-card h3 { color: var(--darkText); }

#actordentify-card p.paragraph-small { color: var(--darkBodyText); }

#actordentify-card .nav-link p { color: var(--darkNavLink); }

@media (hover: hover) {

    #actordentify-card:hover {
        /* do not scale actordentify card on hover */
        scale: 1;
        box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.35), 0px 0px 32px rgba(0, 0, 0, 0.35);
    }

    .dark #actordentify-card:hover {
        scale: 1;
        box-shadow: none;
    }
    
}

/* iPad 11" Landscape */
@media (max-width: 1200px) {

    .frosted-pane { width: 326px; }

}

/* iPad 13" Portrait */
@media (max-width: 1120px) {
    
    .frosted-pane { 
        width: 280px; 
        padding-right: 20px;
    }

    #actordentify-card-video {
        right: -20px;
    }
    
}

/* iPad 11" Portrait */
@media (max-width: 970px) {

    .frosted-pane { 
        width: 246px; 
        padding-right: 20px;
    }

    #actordentify-card-video {
        right: -130px;
    }

}

/* iPhone Plus */
@media (max-width: 740px) {

    #actordentify-card {
        grid-column: span 1;
    }

    #actordentify-card-video {
        width: 100%;
        height: auto;
        top: -8px;
        left: 0;
    }

    #actordentify-card-video-bkg {
        width: 100%;
        height: auto;
        bottom: 0;
        left: 0;
    }
    
    .frosted-pane {
        width: 100%;
        height: 100px;
        bottom: 0;
        backdrop-filter: blur(80px);
    }

    .dark .frosted-pane {
        width: calc(100% - 2px);
        height: 100px;
        left: 1px;
        top: auto;
        bottom: 1px;
        border-radius: 0 0 29px 29px;
    }
    

    .frosted-pane h3 {
        padding-top: 18px;
    }

    .frosted-pane .paragraph-small {
        display: none;
    }

    .frosted-pane p {
        margin-top: 4px;
    }
    
}

/* iPhone */
@media (max-width: 424px) {

    #actordentify-card-video {
        width: 110%;
        height: auto;
        top: -8px;
        left: 0;
    }

    #actordentify-card-video-bkg {
        width: 110%;
        height: auto;
        bottom: 0;
        left: 0;
    }

}
