#needle-card {
    grid-column: span 2;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#needle-card-svg {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 63%;
}

#needle-card p {
    width: 33%;
}

/* iPad 11" Landscape */
@media (max-width: 1080px) {

    #needle-card p {
        width: 30%;
    }

}

/* iPad 13" Portrait */
@media (max-width: 1008px) {
    
    #needle-card-svg {
        height: 50%;
    }

    #needle-card p {
        width: 33%;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    #needle-card-svg {
        right: 30px;
        height: 45%;
    }

    #needle-card p {
        width: 33%;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    #needle-card-svg {
        right: 25px;
        height: 40%;
    }

    #needle-card p {
        width: 35%;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    #needle-card {
        grid-column: span 1;
    }

    #needle-card-svg {
        left: 50%;
        transform: translateX(-50%);
        top: 22px;
        height: 40%;
        width: auto;
    }

    #needle-card h3 {
        padding-top: 32%;
    }

    #needle-card p {
        width: 85%;
    }

}

/* iPhone */
@media (max-width: 424px) {

    #needle-card-svg {
        left: 50%;
        transform: translateX(-50%);
        top: 22px;
        height: 35%;
        width: auto;
    }

    #needle-card h3 {
        padding-top: 30%;
    }

}
