#speech-transformer-card {
    grid-column: span 1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#speech-transformer-svg {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: auto;
    height: 75%;
    color: rgba(178, 162, 111, 1);
}

#speech-transformer-card p {
    width: 50%;
}
