#speech-transformer-card {
    --speech-transformer-grad-start: rgb(52, 172, 94);
    --speech-transformer-grad-end: rgb(49, 114, 61);
    grid-column: span 1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.dark #speech-transformer-card {
    --speech-transformer-grad-start: rgb(102, 170, 115);
    --speech-transformer-grad-end: rgb(148, 221, 174);
}

#speech-transformer-svg {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: auto;
    height: 75%;
    color: rgba(178, 162, 111, 1);
}

#speech-transformer-card p {
    width: 50%;
}


/* iPad 13" Portrait */
@media (max-width: 1008px) {
    
    #speech-transformer-svg {
        height: 65%;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    #speech-transformer-svg {
        right: 30px;
        height: 62%;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    #speech-transformer-svg {
        right: 25px;
        height: 58%;
    }

    #speech-transformer-card p {
        width: 60%;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    #speech-transformer-svg {
        right: 28px;
        height: 65%;
    }

}



