#speech-transformer-card {
    grid-column: span 1;
}

#speech-transformer-card-svg {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: auto;
    height: 75%;
    color: rgba(178, 162, 111, 1);
}

#speech-transformer-card p {
    width: 50%;
}


/* iPad 13" Portrait */
@media (max-width: 1008px) {
    
    #speech-transformer-card-svg {
        height: 65%;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    #speech-transformer-card-svg {
        right: 30px;
        height: 62%;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    #speech-transformer-card-svg {
        right: 25px;
        height: 58%;
    }

    #speech-transformer-card p {
        width: 60%;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    #speech-transformer-card-svg {
        right: 28px;
        height: 65%;
    }

}



