.modal-content-card-container {
    position: relative;
}

.modal-content-card {
    position: absolute;
    background-color: var(--lightCard);
    border-radius: 30px;
    padding: 26px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 0px 15px rgba(0, 0, 0, 0.20);
}

.modal-content-card:has(.read-more:not(.closed)) {
    z-index: 1200;
}

.modal-content-card p.paragraph-small {
    margin-top: 6px;
    margin-bottom: 6px;
}



.modal-cards-container {
    position: relative;
}

.modal-cards-overlay {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    z-index: 1100;
    background-color: var(--lightBackground);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.modal-cards-container:has(.read-more:not(.closed)) .modal-cards-overlay {
    opacity: 0.8;
    transition: opacity 0.3s;
}