.modal-content-card-container {
    position: relative;
}

.modal-content-card {
    position: absolute !important;
    height: auto;
    background-color: var(--lightCard);
    border-radius: 30px;
    cursor: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms ease;
}

@media (hover: hover) {
    .modal-content-card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08), 0px 0px 30px rgba(0, 0, 0, 0.1);
        transition: box-shadow 200ms ease;
    }

    .dark .modal-content-card:hover {
        box-shadow: none;
        scale: 1;
    }
}


.modal-content-card:has(.read-more:not(.closed)) {
    z-index: 1200;
}

/* when one card is expanded, reduce shadows of cards after */
/* (and disable pointer events) */
.modal-content-card-container:has(.read-more:not(.closed)) ~ 
.modal-content-card-container .modal-content-card {
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.15), 0px 0px 15px rgba(204, 204, 204, 0.20);
    transition: box-shadow 0.3s;
    pointer-events: none;
}

/* when one card is expanded, reduce shadows of cards before */ 
/* (and disable pointer events) */
.modal-content-card-container:has(~ .modal-content-card-container .read-more:not(.closed)) 
.modal-content-card {
    box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.15), 0px 0px 15px rgba(204, 204, 204, 0.20);
    transition: box-shadow 0.3s;
    pointer-events: none;
}

.dark .modal-content-card {
    transition: background-color 0.3s;
}

/* not in dark mode */
.dark .modal-content-card-container:has(.read-more:not(.closed)) ~ 
.modal-content-card-container .modal-content-card,
.dark .modal-content-card-container:has(~ .modal-content-card-container .read-more:not(.closed)) 
.modal-content-card {
    box-shadow: none;
    /* and darken rim */
    background-color: #404246;
    transition: background-color 0.3s;
}

/* dark mode: when one card is expanded, reduce bkg hover element of cards after */
.dark .modal-content-card-container:has(.read-more:not(.closed)) ~ 
.modal-content-card-container .modal-content-card .card-border {
    background: none !important;
}

/* dark mode: when one card is expanded, reduce bkg hover element of cards before */
.dark .modal-content-card-container:has(~ .modal-content-card-container .read-more:not(.closed)) 
.modal-content-card .card-border {
    background: none !important;
}


.modal-content-card-content {
    opacity: 1;
    transition: opacity 0.3s;
    padding: 26px;
    z-index: 15;
    position: relative;
}

/* when one card is expanded, decrease opacity of card contents of cards after */
.modal-content-card-container:has(.read-more:not(.closed)) ~
.modal-content-card-container .modal-content-card-content {
    opacity: 0.3;
    transition: opacity 0.3s;
}

/* when one card is expanded, decrease opacity of card contents of cards before */
.modal-content-card-container:has(~ .modal-content-card-container .read-more:not(.closed)) 
.modal-content-card-content {
    opacity: 0.3;
    transition: opacity 0.3s;
}

/* in dark mode, make more transparent */
.dark .modal-content-card-container:has(.read-more:not(.closed)) ~
.modal-content-card-container .modal-content-card-content,
.dark .modal-content-card-container:has(~ .modal-content-card-container .read-more:not(.closed)) 
.modal-content-card-content {
    opacity: 0.2;
}

.modal-content-card-content h4 .short-title {
    display: none;
}

.modal-content-card p {
    margin-left: 0;
    margin-top: 0;
}

.modal-content-card p.paragraph-small {
    margin-top: 6px;
    margin-bottom: 8px;
}


/* iPad 11" Portrait */
@media (max-width: 873px) {

    .modal-content-card-content h4 .short-title {
        display: block;
    }

    .modal-content-card-content h4 .title {
        display: none;
    }
    
}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    .modal-content-card-content {
        padding: 24px;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    .modal-content-card-content h4 .short-title {
        display: none;
    }

    .modal-content-card-content h4 .title {
        display: block;
    }

}
