.modal-overlay.open {
    display: block;
    
    position: fixed;
    top: 0;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    height: 100vh;
    z-index: 1000;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 60px;
    padding-bottom: 12px;
}

.modal-overlay {
    display: none;
}

.modal-card {
    position: relative;
    min-height: calc(100vh - 60px - 12px); /* minus padding top and bottom */
    border-radius: 40px;
    background-color: var(--lightBackground);
}

.modal-card .plus-cross-container {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: var(--lightFooter);
}


.modal-content {
    /* same width as container */
    width: 936px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
}

body:has(.modal-overlay.open) {
    overflow: hidden;
}

nav:has(.modal-overlay.open) {
    display: none !important;
}