.modal-content-card-container {
    position: relative;
    border: 1px solid red;
}

.modal-content-card {
    position: absolute;
    background-color: var(--lightCard);
    border-radius: 30px;
    padding: 26px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 0px 15px rgba(0, 0, 0, 0.20);
}

.modal-content-card p.paragraph-small {
    margin-top: 6px;
    margin-bottom: 6px;
}

