.experience-card {
    height: auto;
    padding-right: 36px;
    padding-bottom: 30px !important;
    cursor: auto;
}

.experience-card h4 {
    padding-left: 36px;
    padding-top: 30px;
    position: relative;
    line-height: 30px;
}

.experience-card h5 {
    position: relative;
    padding-left: 36px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 18px;
    font-size: 15px !important;
    font-weight: 400 !important;
}

p.experience-organization {
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 500 !important;
    font-size: 18px !important;
}

p.experience-description {
    margin-top: 18px;
    font-size: 16px !important;
    line-height: 19px !important;
}


/* iPad 11" Landscape */
@media (max-width: 1080px) {

    /* Nothing */

}

/* iPad 13" Portrait */
@media (max-width: 1008px) {

    .experience-card {
        padding-right: 30px;
        padding-bottom: 28px !important;
    }

    .experience-card h4 {
        padding-left: 32px;
        padding-top: 28px;
    }

    .experience-card h5 {
        padding-left: 32px;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    .experience-card {
        padding-right: 28px;
    }

    .experience-card h4 {
        padding-left: 30px;
        padding-top: 28px;
    }

    .experience-card h5 {
        padding-left: 30px;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    .experience-card {
        padding-right: 24px;
        padding-bottom: 24px !important;
    }

    .experience-card h4 {
        padding-left: 25px;
        padding-top: 24px;
    }

    .experience-card h5 {
        padding-left: 25px;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    .experience-card {
        padding-right: 26px;
        padding-bottom: 26px !important;
    }

    .experience-card h4 {
        padding-left: 28px;
        padding-top: 26px;
    }

    .experience-card h5 {
        padding-left: 28px;
    }


}
