/* iPhone Plus */
@media (max-width: 740px) {

    /* Navmenu mobile */

    #navmenu-mobile {
        display: inline;
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 188px;
        height: 208px;
        border-radius: 20px;
        transition: 200ms ease;
    }

    #navmenu-mobile {
        background-color: var(--lightCard);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 16px rgba(0, 0, 0, 0.25);
        transition: 200ms ease;
    }

    @media (hover: hover) {
        #navmenu-mobile:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), 0px 0px 30px rgba(0, 0, 0, 0.25);
            scale: 1.0005;
            transition: 200ms ease;
        }    
    }

    /* background card */
    .dark #navmenu-mobile {
        background-color: var(--darkCardRim);
        box-shadow: none;
    }

    @media (hover: hover) {
        .dark #navmenu-mobile:hover {
            box-shadow: none;
            scale: 1;
        }    
    }

    /* foreground card */
    .dark #navmenu-mobile::before {
        background: var(--darkCard);
        content: '';
        position: absolute;
        display: inline-block;
        margin: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 19px;
        z-index: 101;
        transition: 200ms ease;
    }

    /* allow click-through */
    #navmenu-mobile::after,
    #navmenu-mobile .card-border {
        pointer-events: none;
    }

    /* foreground hover element, dark mode */
    .dark #navmenu-mobile::after {
        background: radial-gradient(
            circle 400px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.04), 
            transparent 40%
        );
        z-index: 120;
    }

    /* foreground hover element, light mode */
    #navmenu-mobile::after {
        background: radial-gradient(
            circle 400px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.2), 
            transparent 40%
        );
        z-index: 120;
    }

    /* background hover element, only in dark mode */
    #navmenu-mobile .card-border {
        background: radial-gradient(
            circle 150px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.7), 
            transparent 40%
        );
        z-index: 100;
    }

    #navmenu-mobile.hidden {
        top: 3px;
        display: inline;
        border-radius: 45px;
        width: 146px;
        height: 44px;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

    .dark #navmenu-mobile.hidden::before { border-radius: 44px; }

    .navmenu-item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 8px;
        width: 172px;
        height: 48px;
        border-radius: 12px;
        z-index: 102;
        cursor: pointer;
    }

    .navmenu-item.selected { transition: 250ms ease; }

    .navmenu-item.selected {
        background-color: var(--lightSelected);
    }

    .dark .navmenu-item.selected {
        background-color: var(--darkSelected);
    }

    @media (hover: hover) {
        .navmenu-item:hover:not(.selected) {
            background-color: var(--lightHover);
        }
        
        .dark .navmenu-item:hover:not(.selected) {
            background-color: var(--darkHover);
        }    
    }
    
    .navmenu-item.hidden { display: none; }

    #navmenu-item-about-me { margin-top: 8px; }

    .hidden #navmenu-item-about-me { margin-top: 0px; }

    .hidden .navmenu-item {
        width: 100%;
        height: 100%;
    }

    .hidden .navmenu-item.selected {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 45px;
        width: 146px;
        height: 44px;
    }
    
}
