#hero {
    display: flex;
    justify-content: space-between;
    height: 80lvh;
    min-height: 522px;
    max-height: 640px;
    align-items: center;
    padding-bottom: 30px;
}

#hero-left { width: 559px; }

#hero h1 { margin-top: 15px; }

#hero p { margin-top: 14px; }

#hero-card {
    position: relative;
    width: 319px;
    height: 387px;
}

/* NO HERO IMAGE ADJUSTED */

/* .hero-image {
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 12;
}

#hero-image-desktop {
    width: 339px;
    height: 414px;
}

#hero-image-tablet {
    width: 329px;
    height: 414px;
    display: none;
}

#hero-image-medium-skinny {
    width: 309px;
    height: 414px;
    display: none;
}

#hero-image-skinny {
    width: 278px;
    height: 414px;
    display: none;
}

#hero-image-mobile {
    width: 377px;
    height: 282px;
    display: none;
}

#hero-image-mobile-small {
    width: 337px;
    height: 253px;
    display: none;
} */



/* iPad 11" Landscape */
@media (max-width: 1200px) {

    #hero-left { width: 510px; }
        
}

/* iPad 13" Portrait */
@media (max-width: 1120px) {

    #hero-left { width: 435px; }

    #hero h1 { margin-top: 9px; }

    #hero-card { width: 311px; }
    
    /* #hero-image-desktop { display: none; }
    
    #hero-image-tablet { display: inline; } */
    
}

/* iPad 11" Portrait */
@media (max-width: 970px) {

    #hero-left { width: 368px; }

    #hero h1 { margin-top: 8px; }

    #hero p { margin-top: 14px; }

    #hero-card { width: 292px; }

    /* #hero-image-tablet { display: none; }

    #hero-image-medium-skinny { display: inline; } */

}

/* iPad Mini Portrait */
@media (max-width: 830px) {

    #hero-left { width: 338px; }

    #hero h1 { margin-top: 0px; }

    #hero p { margin-top: 11px; }

    #hero-card { width: 265px; }

    /* #hero-image-medium-skinny { display: none; }

    #hero-image-skinny { display: inline; } */

}

/* iPhone Plus */
@media (max-width: 740px) {

    #hero {
        display: flex;
        height: 802px;
        min-height: 802px;
        max-height: 802px;
        align-items: center;
        flex-direction: column;
        transform: translateY(-50px);
        margin-bottom: 80px;
    }
    
    #hero-left { width: 100%; }

    #hero-card {
        margin-top: 34px;
        width: 394px;
        height: 300px;
    }

    #hero h1 { margin-top: 100px; }
    
    /* #hero-image-skinny { display: none; }

    #hero-image-mobile { display: inline; } */

}

/* iPhone */
@media (max-width: 424px) {

    #hero p { width: 345px; }

    #hero-card {
        margin-top: 34px;
        width: 353px;
        height: 269px;
    }

    /* #hero-image-mobile { display: none; }

    #hero-image-mobile-small { display: inline; }   */
    
}
