#hero {
    display: flex;
    justify-content: space-between;
    height: 80lvh;
    min-height: 522px;
    max-height: 640px;
    align-items: center;
    padding-bottom: 30px;
}

#hero-left { width: 559px; }

#hero h1 { margin-top: 15px; }

#hero p { margin-top: 14px; }

#hero-card {
    position: relative;
    width: 319px;
    height: 387px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-image {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: calc(30px - 6px);
    object-fit: cover;
    z-index: 12;
}


/* iPad 11" Landscape */
@media (max-width: 1080px) {

    #hero-left { width: 510px; }
        
}

/* iPad 13" Portrait */
@media (max-width: 1008px) {

    #hero-left { width: 435px; }

    #hero h1 { margin-top: 9px; }

    #hero-card { width: 311px; }
    
}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    #hero-left { width: 368px; }

    #hero h1 { margin-top: 8px; }

    #hero p { margin-top: 14px; }

    #hero-card { width: 292px; }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    #hero-left { width: 338px; }

    #hero h1 { margin-top: 0px; }

    #hero p { margin-top: 11px; }

    #hero-card { width: 265px; }

}

/* iPhone Plus */
@media (max-width: 666px) {

    #hero {
        display: flex;
        height: fit-content;
        align-items: center;
        flex-direction: column;
        transform: translateY(-50px);
        margin-bottom: 0;
    }
    
    #hero-left { width: 100%; }

    #hero-right {
        display: none;
    }

    #hero h1 { margin-top: 100px; }

}

/* iPhone */
@media (max-width: 424px) {

    #hero p { width: 345px; }
    
}
