.expand-collapse-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    margin-left: auto;
}

@media (hover: hover) {

    .expand-collapse-button:hover { filter: brightness(1.2); }

}


.expand-collapse-button p.card-link {
    font-weight: 500;
    color: var(--lightFooterText);
}

.expand-chevron {
    width: 12px;
    height: 6px;
    transition: transform 0.3s;
}

.expand-chevron.collapse {
    transform: rotate(-180deg);
    transition: transform 0.3s;
}