.expand-collapse-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    margin-left: auto;
}

.expand-collapse-button p.card-link {
    font-weight: 500;
    color: var(--lightFooterText);
}

.expand-chevron {
    width: 12px;
    height: 6px;
}

.expand-chevron.collapse {
    transform: rotate(180deg);
}