.post {
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 90px;
}

.post h2 {
    position: relative;
    z-index: 11;
}

/* Post intro */

.post-intro p.paragraph-small { 
    margin-top: 12px; 
    margin-bottom: 8px;
}

.post-intro p.paragraph-small {
    line-height: 24px;
    color: var(--lightText);
}

.dark .post-intro p.paragraph-small {
    color: var(--darkText);
}

.post-date {
    margin-top: 4px;
    color: var(--lightFooterText);
}

.dark .post-date {
    color: var(--darkFooterText);
}

iframe {
    border: none;
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 30px;
}


/* Post body */

.post-body h3 {
    margin-top: 40px;
    margin-bottom: 0;
}

.post-body p { margin-top: 14px; }

.post-body a {text-decoration: underline;}

.body-image {
    position: relative;
    width: fit-content;
    margin: 30px auto;
}

.body-image-side-by-side {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.body-image img,
.body-image video {
    margin: 0 auto;
    display: block;
}

.body-image .image-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 440px;
    margin-top: 14px;
}

.body-image .image-text code {
    padding: 1px 3px;
}

blockquote {
    margin-left: 4px;
    padding-left: 14px;
    border-left: 1px solid var(--lightBodyText);
}
   
.dark blockquote {
    border-left: 1px solid var(--darkBodyText);
}

.post ol, ul { margin-left: 28px; }

.post li { padding-left: 8px; }

.light-mode .post li::marker { color: var(--lightBodyText); }

.dark-mode .post li::marker { color: var(--darkBodyText); }

.post li { margin-top: 6px; }

.post li:first-child { margin-top: 11px; }

.colored-section {
    position: relative;
    margin-top: 30px;
}

.colored-section-background {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
    left: 50%;
    margin-left: -50vw;
    background-color: var(--lightFooter);
}

.dark .colored-section-background {
    background-color: var(--darkFooter);
}

.colored-section-content {
    z-index: 2;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colored-section h3 { margin-top: 0; }


/* Actordentify */

#actordentify-card-background, 
#actordentify-expand,
#actordentify-slideshow {
    width: 96%;
}

#actordentify-hero,
#actordentify-card-background,
#actordentify-expand,
#actordentify-slideshow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark #actordentify-hero,
.dark #actordentify-card-background,
.dark #actordentify-expand,
.dark #actordentify-slideshow {
    box-shadow: none;
}

/* Kenboard */

#kenboard-naive-approach { width: 60%; }

#kenboard-letter-combinations { width: 85%; }

#kenboard-pattern-skew { width: 95%; }

#kenboard-naive-approach,
#kenboard-letter-combinations,
#kenboard-pattern-skew {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.dark #kenboard-naive-approach,
.dark #kenboard-letter-combinations,
.dark #kenboard-pattern-skew {
    box-shadow: none;
}

/* Attention */

.attention-video,
.attention-image {
    width: 96%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.dark .attention-video,
.dark .attention-image {
    box-shadow: none;
}

.tight-list li, .tight-list ul { margin-top: 3px; }

.tight-list li:first-child { margin-top: 4px; }

.katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}

/* CUDA Matmul */

.cuda-image {
    width: 96%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.dark .cuda-image {
    box-shadow: none;
}


/* iPhone Plus */
@media (max-width: 666px) {

    .post {  width: 100%;  }

    .body-image .image-text { width: 360px; }

    #kenboard-naive-approach { width: 80%; }

    #kenboard-letter-combinations { width: 95%; }


}

/* iPhone */
@media (max-width: 424px) {

    .post { width: 340px; }

    .body-image .image-text { width: 324px; }

}
