.post-image {
    position: relative;
    margin-top: 20px;
    margin-bottom: 45px;
    z-index: 10;
}

#actordentify-hero, #attention-hero {
    width: 100%;
}

#attention-hero {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.dark #attention-hero {
    box-shadow: none;
}


.needle-card-svg-container {
    position: relative;
    background-color: var(--lightCard);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    width: 100%;
    aspect-ratio: 2283 / 970;
}

.dark .needle-card-svg-container {
    background-color: var(--darkCard);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.needle-card-svg-container #needle-card-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: auto;
}

.speech-transformer-card-svg-container {
    position: relative;
    background-color: var(--lightCard);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
    width: 100%;
    aspect-ratio: 1082 / 550;
}

.dark .speech-transformer-card-svg-container {
    background-color: var(--darkCard);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

.speech-transformer-card-svg-container #speech-transformer-card-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    height: auto;
}


/* Kenboard */

.post-image:has(#kenboard-demo-image-full-length) {
    height: 347px;
}

#kenboard-demo-image-full-length {
    position: absolute;
    width: 366px;
    left: -32px;
    top: -42px;
}

#kenboard-demo-video {
    position: absolute;
    width: 262px;
    left: 16px;
    top: 87px;
}

#kenboard-splash {
    position: absolute;
    width: 180px;
    left: 346px;
    top: -3px;
}

#kenboard-debug {
    position: absolute;
    width: 180px;
    left: 426px;
    top: -3px;
}

#kenboard-splash,
#kenboard-debug {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark #kenboard-splash,
.dark #kenboard-debug {
    filter: none;
}

/* iPhone Plus */
@media (max-width: 666px) {

    #kenboard-demo-image-full-length { left: 14px; }
    
    #kenboard-demo-video { left: 62px; }
    
    #kenboard-splash,
    #kenboard-debug { display: none; }

}

/* iPhone */
@media (max-width: 424px) {

    #kenboard-demo-image-full-length { left: -14px; }

    #kenboard-demo-video { left: 34px; }

}