.nav-link {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    width: fit-content;
}
@media (hover: hover) {

    .nav-link:hover { filter: brightness(1.1); }

}

.nav-link p { 
    padding-right: 5px;
    color: var(--lightNavLink) !important;
    width: fit-content !important;
}
.dark .nav-link p { color: var(--darkNavLink) !important; }

p.paragraph-large + .nav-link-chevron {
    width: 5.5px;
    height: 11px;
}

p.card-link + .nav-link-chevron {
    width: 4.5px;
    height: 9px;
}
