.contact-link {
    margin-top: 34px;
}

.contact-link p {
    margin-top: -4px !important;
}

.contact-link a:hover p {
    color: var(--lightFooterText);
}

.dark .contact-link a:hover p {
    color: var(--darkFooterText);
}