:root {

    /* light mode colors */
    --lightBackground: #FDFDFD;
    --lightCard: #FFFFFF;
    --lightText: #444444;
    --lightBodyText: #525252;
    --lightFooterText: #878787;
    --lightFooter: #F5F5F5;
    --lightHover: #F5F5F5;
    --lightSelected: #ECECEC;
    --lightNavLink: #4287F5;

    /* dark mode colors */
    --darkBackground: #151618;
    --darkCard: #1B1C1E;
    --darkCardRim: #55585D;
    --darkText: #FAFAFA;
    --darkBodyText: #E6E6E6;
    --darkFooterText: #B3B3B3;
    --darkFooter: #191A1B;
    --darkHover: #212226;
    --darkSelected: #2A2B30;
    --darkNavLink: #2997FF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightBackground);
    transition: background-color 400ms;
}

.dark body {
    background-color: var(--darkBackground);
    transition: background-color 400ms;
}

#container {
    width: 936px;
    margin: 0 auto;
}

a { text-decoration: none; }

/* iPad 11" Landscape */
@media (max-width: 1080px) {

    #container { width: 890px; }

}

/* iPad 13" Portrait */
@media (max-width: 1008px) {

    #container { width: 776px; }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    #container { width: 679px; }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    #container { width: 630px; } 

}

/* iPhone Plus */
@media (max-width: 666px) {

    #container { width: 394px; }

}

/* iPhone */
@media (max-width: 424px) {

    #container { width: 353px; }

}
