h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 68px;
    color: var(--lightText);
}

.dark h1 { color: var(--darkText); }

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--lightText);
}

.dark h2 { color: var(--darkText); }

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 35px;
    z-index: 15;
    color: var(--lightText);
}

.dark h3 { color: var(--darkText); }

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    z-index: 15;
    color: var(--lightText);
}

.dark h4 { color: var(--darkText); }

h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    z-index: 15;
    color: var(--lightFooterText);
    margin-bottom: 7px;
}

.dark h5 { color: var(--darkFooterText); }

p.paragraph-large {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: var(--lightText);
}

.dark p.paragraph-large { color: var(--darkText); }

p.paragraph-small {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    z-index: 15;
    color: var(--lightBodyText);
}

.dark p.paragraph-small { color: var(--darkBodyText); }

.button-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--lightText);
}

.dark .button-text { color: var(--darkText); }

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--lightFooterText);
}

.dark .footer-text { color: var(--darkFooterText); }

.image-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--lightBodyText);
}

.dark .image-text { color: var(--darkBodyText); }

p.card-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    z-index: 15;
}

p.small-header {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    z-index: 15;
    color: var(--lightBodyText);
}

.dark p.small-header { color: var(--darkBodyText); }

a { color: var(--lightFooterText); }

.dark a { color: var(--darkFooterText); }

.post-body p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    z-index: 15;
    color: var(--lightBodyText);
}

.dark .post-body p { color: var(--darkBodyText); }

.post-body .katex {
    font-size: 17px;
    color: var(--lightBodyText);
}

.dark .post-body .katex { color: var(--darkBodyText); }

.post-body ol, .post-body ul {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    z-index: 15;
    color: var(--lightBodyText);
}

.dark .post-body ol, .dark .post-body ul { color: var(--darkBodyText); }

p.url-card-header {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    color: var(--lightText);
}

.dark p.url-card-header { color: var(--darkText); }

p.url-card-website {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    color: var(--lightBodyText);
}

.dark p.url-card-website { color: var(--darkBodyText); }

code {
    font-family: var(--font-inconsolata);
    background-color: var(--lightSelected);
    color: var(--lightText);
    padding: 2px 4px;
    border-radius: 4px;
}

.dark code {
    background-color: var(--darkSelected);
    color: var(--darkText);
}


/* Tablet */
@media (max-width: 1080px) {
    
    h1 {
        font-size: 52px;
        line-height: 61px;
    }

    h2 {
        font-size: 34px;
        line-height: 41px;
    }

    p.paragraph-large {
        font-size: 20px;
        line-height: 27px;
    }
        
}

/* Phone */
@media (max-width: 666px) {
    
    h1 {
        font-size: 52px;
        line-height: 61px;
    }

    h2 {
        font-size: 32px;
        line-height: 39px;
    }

    h3 {
        font-size: 26px;
        line-height: 32px;
    }

    h4 {
        font-size: 24px;
        line-height: 30px;
    }

    p.paragraph-large {
        font-size: 20px;
        line-height: 26px;
    }

    p.paragraph-small {
        font-size: 18px;
        line-height: 21px;
    }
    
    .button-text {
        font-size: 18px;
        line-height: 22px;
    }
    
    .footer-text {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

}