.nav-link, .external-link {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    width: fit-content;
    user-select: none;
}
@media (hover: hover) {

    .nav-link:hover, .external-link:hover { filter: brightness(1.1); }

}

.nav-link p, .external-link p { 
    padding-right: 5px;
    color: var(--lightNavLink) !important;
    width: fit-content !important;
}
.dark .nav-link p, .dark .external-link p { 
    color: var(--darkNavLink) !important; 
}

p.paragraph-large + .nav-link-chevron {
    width: 5.5px;
    height: 11px;
}

p.paragraph-large + .external-link-icon {
    width: 12px;
    height: 12px;
}

p.card-link + .nav-link-chevron {
    width: 4.5px;
    height: 9px;
}

p.card-link + .external-link-icon {
    width: 10px;
    height: 10px;
}
