nav {
    position: sticky;
    z-index: 100;
    top: 18px;
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-page nav {
    top: 25px;
}

#nav-right {
    display: flex;
    gap: 23px;
}

/* Navbuttons */

.navbutton {
    border-radius: 45px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    padding-right: 22px;
}

.navbutton {
    background-color: var(--lightCard);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 14px rgba(0, 0, 0, 0.15);
    transition: scale 200ms ease, box-shadow 200ms ease; /* transition for hover */
}

@media (hover: hover) {
    .navbutton:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 24px rgba(0, 0, 0, 0.15);
        scale: 1.00005;
        transition: scale 200ms ease, box-shadow 200ms ease;
    }    
}

/* background card */
.dark .navbutton {
    background-color: var(--darkCardRim);
    box-shadow: none;
    position: relative;
}

@media (hover: hover) {
    .dark .navbutton:hover {
        box-shadow: none;
        scale: 1;
    }    
}

/* foreground card */
.dark .navbutton::before {
    background-color: var(--darkCard);
    content: '';
    position: absolute;
    margin: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 44px;
    z-index: 101;
}

/* foreground hover element and background hover element */
.navbutton::after,
.navbutton .card-border,
#appearance-drop-down::after,
#appearance-drop-down .card-border,
#navbutton-home::after,
#navbutton-home .card-border,
#navmenu-mobile::after,
#navmenu-mobile .card-border {
    opacity: 0;
    transition: opacity 500ms;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

/* foreground hover element, dark mode */
.dark .navbutton::after {
    background: radial-gradient(
        circle 200px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.04), 
        transparent 40%
    );
    z-index: 120;
}

/* foreground hover element, light mode */
.navbutton::after {
    background: radial-gradient(
        circle 200px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.2), 
        transparent 40%
    );
    z-index: 120;
}

/* background hover element, only in dark mode */
.dark .navbutton .card-border,
.dark #navbutton-home .card-border {
    display: block;
    background: radial-gradient(
        circle 100px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.7), 
        transparent 40%
    );
    z-index: 100;
}

/* background hover element, hide in light mode */
.navbutton .card-border,
#appearance-drop-down .card-border,
#navbutton-home .card-border,
#navmenu-mobile .card-border {
    display: none;
}

/* when card hovered, show foreground hover element */
@media (hover: hover) {
    .navbutton:hover::after,
    #appearance-drop-down:hover::after,
    #navbutton-home:hover::after,
    #navmenu-mobile:hover::after {
        opacity: 1;
    }
}

/* when parent container hovered, show background hover element */
@media (hover: hover) {
    #nav-right:hover .navbutton .card-border,
    #nav-right:hover #appearance-drop-down .card-border,
    #appearance-drop-down:hover .card-border,
    #navbutton-home:hover .card-border,
    #navbutton-appearance:hover .card-border,
    #navbutton-back:hover .card-border,
    #navmenu-mobile:hover .card-border {
        opacity: 1;
    }
}

.navbutton .button-text { z-index: 102; }


/* Back button */

#navbutton-back {
    width: 106px;
    display: flex;
    gap: 7px;
}

#back-icon-dark-mode,
#back-icon-light-mode { z-index: 102; }

#back-icon-dark-mode,
.dark #back-icon-light-mode { display: none; }



#navmenu-mobile { display: none; }

/* iPad 11" Landscape */
@media (max-width: 1080px) {

    nav { width: 995px; }
    
}

/* iPad 13" Portrait */
@media (max-width: 1008px) {

    nav { width: 842px; }
    
}

/* iPad Pro 11" Portrait */
@media (max-width: 873px) {

    nav { width: 733px; }

    #nav-right { gap: 20px; }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    nav { width: 652px; }

}

/* iPhone Plus */
@media (max-width: 666px) {

    nav {
        width: 408px;
        top: 6px;
    }

    .post-page nav { top: 9px; }

    .navbutton { display: none; }

    #navbutton-back { height: 44px; }

}


/* iPhone */
@media (max-width: 424px) {

    nav { width: 366px; }

}
