#appearance-drop-down.hidden {
    transform: scale(0);
    opacity: 0;
    transition: 120ms ease-in;
}

#appearance-drop-down {
    top: 63px;
    right: 0;
    position: absolute;
    width: 169px;
    height: 144px;
    border-radius: 20px;
    transform: scale(1);
    transform-origin: top right;
    transition: transform 200ms ease-out;
}

.post-page #appearance-drop-down { top: 62px; }

#appearance-drop-down {
    background-color: var(--lightCard);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 14px rgba(0, 0, 0, 0.15);
    transition: 200ms ease-out;
}

/* background card */
.dark #appearance-drop-down {
    background-color: var(--darkCardRim);
    box-shadow: none;
    display: inline;
}

@media (hover: hover) {

    #appearance-drop-down:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 24px rgba(0, 0, 0, 0.15);
        scale: 1.0005;
        transition: 200ms ease-out;
    }    

    .dark #appearance-drop-down:hover {
        box-shadow: none;
        scale: 1;    
    }  

}

/* foreground card */
.dark #appearance-drop-down::before {
    background: var(--darkCard);
    content: '';
    position: absolute;
    display: inline-block;
    margin: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 19px;
    z-index: 101;
}

/* allow click-through */
#appearance-drop-down::after,
#appearance-drop-down .card-border {
    pointer-events: none;
}

/* foreground hover element, dark mode */
.dark #appearance-drop-down::after {
    background: radial-gradient(
        circle 400px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.04), 
        transparent 40%
    );
    z-index: 120;
}

/* foreground hover element, light mode */
#appearance-drop-down::after {
    background: radial-gradient(
        circle 400px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.2), 
        transparent 40%
    );
    z-index: 120;
}

/* background hover element, only in dark mode */
.dark #appearance-drop-down .card-border {
    display: block;
    background: radial-gradient(
        circle 150px at var(--mouseX) var(--mouseY), rgba(255, 255, 255, 0.7), 
        transparent 40%
    );
    z-index: 100;
}

.appearance-drop-down-item {
    position: relative;
    margin: auto;
    width: 155px;
    height: 43px;
    border-radius: 12px;
    z-index: 102;
    cursor: pointer;
}

.appearance-drop-down-item .button-text {
    position: absolute;
    left: 47px;
    top: 50%;
    transform: translateY(-50%);
}

.appearance-drop-down-item.selected {
 background-color: var(--lightSelected);
}

.dark .appearance-drop-down-item.selected {
    background-color: var(--darkSelected);
}

@media (hover: hover) {
    .appearance-drop-down-item:hover:not(.selected) {
        background-color: var(--lightHover);
    }
    
    .dark .appearance-drop-down-item:hover:not(.selected) {
        background-color: var(--darkHover);
    }    
    
}

.appearance-drop-down-icon { 
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}

#appearance-drop-down-icon-dark-dark-mode {
    width: 22px;
    height: 22px;
}

#appearance-drop-down-icon-dark-light-mode {
    width: 23px;
    height: 24px;
}

#appearance-drop-down-icon-light-dark-mode {
    width: 23px;
    height: 23px;
}

#appearance-drop-down-icon-light-light-mode {
    width: 23px;
    height: 23px;
}

#appearance-drop-down-icon-system-dark-mode {
    width: 22px;
    height: 22px;
}

#appearance-drop-down-icon-system-light-mode {
    width: 23px;
    height: 23px;
}

#appearance-drop-down-item-system { margin-top: 7px; }

/* iPhone Plus */
@media (max-width: 666px) {

    #appearance-drop-down { top: 60px; }

    .post-page #appearance-drop-down { top: 57px; }

}
