#navbutton-appearance {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 45px;
    cursor: pointer;
    padding: 0;
    user-select: none;
}

#appearance-icon-light-mode {
    position: absolute;
    left: 9px;
    top: 9px;
    width: 30px;
    height: 30px;
    z-index: 102;
}

#appearance-icon-dark-mode {
    position: absolute;
    left: 11px;
    top: 10px;
    width: 27px;
    height: 27px;
    z-index: 102;
}

.appearance-cross-icon {
    position: absolute;
    left: 14px;
    top: 14px;
    width: 21px;
    height: 21px;
    z-index: 102;
}

.drop-down-hidden .appearance-icon,
.drop-down-visible .appearance-cross-icon {
    display: inline;
    transform: scale(1);
    transform-origin: center center;
    transition: transform 150ms ease;
}

.drop-down-hidden .appearance-cross-icon, 
.drop-down-visible .appearance-icon { transform: scale(0); }

/* Phone */
@media (max-width: 740px) {

    #navbutton-appearance {
        display: block;
        width: 44px;
        height: 44px;
    }

    #appearance-icon-light-mode {
        width: 27.5px;
        height: 27.5px;
        left: 8px;
        top: 8px;
    }
    
    #appearance-icon-dark-mode {
        width: 24px;
        height: 24px;
        left: 10px;
        top: 10px;
    }

    .appearance-cross-icon {
        width: 19px;
        height: 19px;
        left: 13px;
        top: 13px;
    }

}