.publication-card {
    grid-column: span 2;
    height: auto;
    padding-right: 36px;
    padding-bottom: 30px !important;
    cursor: auto;
}

.publication-card p.paragraph-small {
    margin-top: 30px;
}

.publication-card p {
    margin-top: 6px;
}

.publication-card p.card-link {
    margin-top: 8px;
}

.publication-card p.small-header {
    font-weight: 400;
}

.publication-card .external-link,
.publication-card .external-link img {
    z-index: 15;
}


/* iPad 11" Landscape */
@media (max-width: 1080px) {

    /* Nothing */

}

/* iPad 13" Portrait */
@media (max-width: 1008px) {

    .publication-card {
        padding-right: 30px;
        padding-bottom: 28px !important;
    }

    .publication-card p.paragraph-small {
        margin-top: 28px;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    .publication-card {
        padding-right: 28px;
    }

    .publication-card p.paragraph-small {
        margin-top: 28px;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    .publication-card {
        padding-right: 24px;
        padding-bottom: 24px !important;
    }

    .publication-card p.paragraph-small {
        margin-top: 24px;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    .publication-card {
        height: fit-content;
        padding-right: 26px;
        padding-bottom: 26px !important;
    }

    .publication-card p.paragraph-small {
        margin-top: 26px;
    }

}