.publication-card {
    grid-column: span 2;
    height: auto;
    padding-right: 36px;
    padding-bottom: 30px !important;
}

.publication-card h4 {
    padding-left: 36px;
    padding-top: 30px;
    font-size: 20px !important;
    line-height: 28px !important;
    max-width: 600px;
}

.publication-card h5 {
    position: relative;
    padding-left: 36px;
    margin-top: 7px;
    margin-bottom: 0;
    line-height: 18px;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.publication-card p {
    margin-top: 6px;
}

.publication-card p.card-link {
    margin-top: 8px;
}

.publication-card p.small-header {
    font-weight: 400;
}

.publication-card .external-link,
.publication-card .external-link img {
    z-index: 15;
}

/* Remove max-width for publication cards in modal */
.modal-content .publication-card,
.modal-content .publication-card h4,
.modal-content .publication-card h5,
.modal-content .publication-card p {
    max-width: none !important;
}


/* iPad 11" Landscape */
@media (max-width: 1080px) {

    /* nothing */

}

/* iPad 13" Portrait */
@media (max-width: 1008px) {

    .publication-card h4 {
        padding-left: 32px;
        padding-top: 28px;
    }

    .publication-card h5 {
        padding-left: 32px;
    }

    .publication-card {
        padding-right: 30px;
        padding-bottom: 28px !important;
    }

}

/* iPad 11" Portrait */
@media (max-width: 873px) {

    .publication-card {
        padding-right: 28px;
    }

    .publication-card p.paragraph-small {
        margin-top: 28px;
    }

    .publication-card h4 {
        padding-left: 30px;
        padding-top: 28px;
    }

    .publication-card h5 {
        padding-left: 30px;
    }

}

/* iPad Mini Portrait */
@media (max-width: 747px) {

    .publication-card {
        padding-right: 24px;
        padding-bottom: 24px !important;
    }

    .publication-card p.paragraph-small {
        margin-top: 24px;
    }

    .publication-card h4 {
        padding-left: 25px;
        padding-top: 24px;
    }

    .publication-card h5 {
        padding-left: 25px;
    }

}

/* iPhone Plus */
@media (max-width: 666px) {

    .publication-card {
        height: fit-content;
        padding-right: 26px;
        padding-bottom: 26px !important;
    }

    .publication-card p.paragraph-small {
        margin-top: 26px;
    }

    .publication-card h4 {
        padding-left: 28px;
        padding-top: 26px;
    }

    .publication-card h5 {
        padding-left: 28px;
    }

}